.site-content {
	margin-bottom	: $size__default-bot-marg;
	width 			: 100%;
	margin 			: 0 auto;
	overflow 		: auto;

	@media only screen and (min-width: $bp__menu-button+1) {
		padding-left: $size__site-sidebar;
	}
}

.content-area {
	width 		: 100%;
	float 		: left;
	background 	: $color__background-body;


	@media only screen and (min-width: $bp__menu-button+1) {
		width: 100%;
		float: right;
	}
}

.entry-header {
	text-align 	: center;
	color 		: $color__text-home-headings;
}

.featured-image {
	height 				: 300px;
	background-position : center center;
	background-size 	: cover;
	background-repeat 	: no-repeat;
}

.entry-title {
	padding 	: 0.25em;
}

.entry-content {
	padding 	: 1em;
	margin 		: 0;
}

.result_name {

	h3 {

		a {
			text-decoration: none;
		}
	}
}

#tribe-events-pg-template {
	max-width: inherit;
}

#tribe-events-content-wrapper {
	padding: 1em;
}

.events-list .tribe-events-loop,
.tribe-events-day .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop {
	max-width: inherit;
}

.post-912 {

	#location_search_0_tr,
	#location_search_1_tr,
	#location_search_2_tr,
	.location_search_title {
		display: none;
	}
}

.address {
	text-transform 	: uppercase;
	margin-bottom 	: 0;
	display 		: inline-block;
	font-size 		: 14px;
}
