.site-footer {
	width: 100%;
	color: $color__text-footer;

	@media only screen and (min-width: $bp__tablet) {
		position 	: fixed;
		padding 	: 0 1.25em;
		top 		: 750px;
		width 		: $size__site-sidebar;
		z-index 	: 1;
		text-align 	: right;		
	}
}

.footer-wrap {
	max-width 	: $size__max-width;
	margin 		: 0 auto;
}

.site-info {
	text-align 	: center;
	width 		: 100%;

	@media only screen and (min-width: $bp__tablet) {
		text-align: right;		
	}
}

.address {
	text-transform: uppercase;
}

.copyright,
.credits {
	font-size: $font__size-text-footer;

	a {
		color 				: $color__text-footer;
		text-decoration 	: none;
	}
}