.site-footer {
	width 		: 100%;
	color 		: $color__text-footer;
	margin-top 	: $size__default-bot-marg;
	background 	: $color__bg-header;
	padding 	: 1em;

	@media only screen and (min-width: $bp__menu-button+1) {
		position 	: fixed;
		top 		: 535px;
		width 		: $size__site-sidebar;
		z-index 	: 1;
		text-align 	: right;		
	}

	address {
		margin-bottom: 0;
	}
}

.footer-wrap {
	margin 		: 0 auto;
	padding 	: 0 1.25em;
}

.site-info {
	text-align 	: center;
	width 		: 100%;

	@media only screen and (min-width: $bp__menu-button+1) {
		text-align: right;		
	}
}

.address {
	text-transform 	: uppercase;
	margin-bottom 	: 0;
	display 		: inline-block;
	font-size 		: 14px;
}



.copyright,
.credits {
	font-size: $font__size-text-footer;

	a {
		color 				: $color__text-footer;
		text-decoration 	: none;
	}
}


.tourism_wrap {
	display : inline-block;
	height 	: 70px;
	width 	: 70px;
	float 	: left;

	a {
		&:hover {
			> .tourism {
				fill: $color__svg-tourism-hover;
			}
		}
	}
}

.tourism {
	height 	: 85px;
	width 	: 85px;
	fill 	: $color__svg-tourism;
}




