.site-footer {
	width: 100%;

	@media only screen and (min-width: $bp__tablet) {
		position: absolute;
		bottom: 0;
		width: $size__site-sidebar;
		z-index: 1;
		text-align: right;		
	}
}

.footer-wrap {
	max-width: $size__max-width;
	margin: 0 auto;
}

.site-info {
	text-align: center;
	width: 100%;

	@media only screen and (min-width: $bp__tablet) {
		text-align: right;		
	}
}