.home {

	.content-area {
		width 		: 100%;
		padding 	: 0;
	}

	h2 {
		text-align 	: center;
		color 		: $color__text-home-headings;

		@media screen and (min-width: $bp__menu-button+1) {
			&:before,
			&:after {
				content: "—";
			}
		}
	}

	.moment {
		display: none;

		@media screen and (min-width: $bp__menu-button+1) {
			display 	: inherit;
			position 	: absolute;
			top 		: -80px;
			left 		: -60px;
			z-index 	: 500;
			width 		: $size__slider-overlay-mobile;
			height 		: $size__slider-overlay-mobile;
		}

		@media screen and (min-width: $bp__slider-widest) {
			display 	: inherit;
			position 	: absolute;
			top 		: -115px;
			left 		: -100px;
			z-index 	: 500;
			width 		: $size__slider-overlay;
			height 		: $size__slider-overlay;
		}
	}

	.checkbox {
		display: none;

		@media screen and (min-width: $bp__slider-caption) {
			display 		: inline-block;
			width 			: 55px;
			height 			: 55px;
			vertical-align 	: middle;
		}
	}

	.slider-wrap {
		background 	: #fff;
		width 		: 100%;
		padding 	: 10px;
		max-width 	: 550px;
		margin 		: 0 auto;

		@media screen and (min-width: $bp__slider-caption) {
			padding 	: 25px;
		}

		@media screen and (min-width: $bp__menu-button+1) {
			max-height 	: 550px;
			margin-top 	: 100px;
			margin-left : 65px;
			width 		: calc( 100% - 65px );
		}

		@media screen and (min-width: $bp__slider-widest) {
			margin-left: auto;
		}
	}

	.soliloquy-container {

		.soliloquy-viewport {
			overflow: visible !important;
		}

		.soliloquy-controls {
			display: none !important;
		}

		.soliloquy-caption {
			display 	: none;

			@media screen and (min-width: $bp__slider-caption) {
				background 			: transparent;
				background 			: url( images/paper_strip_bkgd.png );
				background-repeat 	: no-repeat;
				background-size 	: cover;
				bottom 				: -100px;
				display 			: table;
				left 				: -50px;
				min-height 			: 120px;
				width 				: 120% !important;
			}

			.soliloquy-caption-inside {
				background 		: none !important;
				color 			: $color__text-home-headings;
				display 		: table-cell;
				font-family 	: $font__handwriting;
				font-size 		: $font__size-home-slider-mobile;
				text-align 		: center;
				text-shadow 	: none !important;
				vertical-align 	: middle;

				@media screen and (min-width: $bp__slider-widest) {
					font-size 		: $font__size-home-slider;
				}
			}
		}

		.slide-caption {
			display 		: inline-block;
			max-width 		: 75%;
			padding-left 	: 0.25em;
			text-align 		: left;
			vertical-align 	: middle;
		}
	}

	.icon-menu {
		text-decoration: none;
	}

	.menu-icon-label {
		color 			: $color__text-icon-menu;
		text-transform 	: uppercase;
		font-size 		: 18px;
	}
}

.home-top {
	background-size 	: cover;
	background-repeat 	: no-repeat;
	background-position : top center;
	padding 			: 1em;

	@media screen and (min-width: $bp__slider-caption) and (max-width: $bp__menu-button) {
		padding-bottom: 10em;
	}

	@media screen and (min-width: $bp__menu-button+1) {
		height 	: 675px;
	}

	@media screen and (min-width: $bp__footer) {
		height 	: 800px;
	}
}

.home-adventure {
	text-align: center;

	@include homedividers();
}

	.history-img {
		margin 		: 0.5em 0;
		width 		: 100%;
		max-width 	: 800px;
	}

.home-connect {
	@include homedividers();

	.widget_woothemes_testimonials {
		margin: $size__default-bot-marg 0 0;
	}

	.quote {
		display 		: inline-block;
		vertical-align 	: top;
		max-width 		: 25%;
		padding 		: 1em;

		blockquote {
			margin: 0;
		}

		.title {
			display: block;
		}
	}
}

.home-testimonials {
	@include homedividers();

	.quote {
		text-align 	: center;
		width 		: 100%;

		@media screen and (min-width: $bp__slider-widest) {
			@include evencols( 4 );
		}
	}

	*[itemprop="name"]:after {
		content: ", "
	}

	.testimonials-text {
		margin: 1em;
	}
}

.nav-homelinks {
	@include homemenus();

	li {

		&:hover > a svg path {
			fill: $color__svgfill-homelinks-hover;
		}
	}

	.menu-icon-label {
		display: none;

		@media screen and (min-width: $bp__menu-button - 150) {
			display: block;
		}
	}

	svg {
		max-width: 75px;
	}

	.map-route {
		height: 75px;
	}
}

.home-events {
	@include homedividers();
}

.events-wrap {
	text-align: center;
}

.event {
	text-align 	: center;
	width 		: 100%;
	margin 		: 1em auto;

	@media screen and (min-width: $bp__events-half) {
		@include evencols( 2 );
		padding: 0 2%;
	}

	@media screen and (min-width: $bp__slider-widest) {
		@include evencols( 4 );
	}

	a {
		text-decoration : none;
		color 			: $color__text-event-title;
	}

	&:hover {

		> a {
			color: $color__text-event-title-hover;
		}

		> .event-image .event-hover {
			transform 	: translate(0,0);
			visibility 	: visible;
		}
	}
}

.event-image {
	height 				: 150px;
	width 				: 150px;
	border-radius 		: 50%;
	background-repeat 	: no-repeat;
	background-position : center center;
	background-size 	: cover;
	overflow 			: hidden;
	mask-image 			: -webkit-radial-gradient(circle, white, black);
	margin 				: 0 auto;
}

.event-hover {
	width 			: 85%;
	height 			: 85%;
	border-radius 	: 50%;
	border 			: 2px solid white;
	overflow 		: auto;
	background 		: rgba(0,0,0,0.5);
	transform 		: translate(0,110%);
	transition 		: all 0.75s;
	visibility 		: hidden;
	margin 			: 7.5% auto;

	.event-date {
		color 			: $color__text-event-hover-title;
		line-height 	: 1em;
		margin 			: 1.25em 0.5em 0.5em;
	}

	a {
		color 			: $color__text-event-hover-link;
		text-transform 	: uppercase;
	}
}

.event-date {
	text-transform	: uppercase;
	font-size 		: $font__size-main-menu;
}

.no-events {
	text-align: center;
}

.home-places {
	@include homedividers();
}

.nav-homeplaces {
	@include homemenus();

	li {
		padding: 0 2%;

		&:hover > a svg path {
			fill: $color__svgfill-homeplaces-hover;
		}
	}

	svg {
		max-width: 175px;
		margin-bottom: $size__default-bot-marg;
	}
}

.home-happenings {
	@include homedividers();

	@media screen and (min-width: $bp__menu-button+1) {
		padding: 2em;
	}

	.post-container {
		border 		: 1px solid $color__post-containers;
		overflow 	: auto;
		margin 		: 1em;
	}

	.post-wrapper {
		margin 		: 0 auto;
		padding 	: 1em;
		text-align 	: center;
	}

	.entry-meta {
		color 			: $color__text-happenings;
		text-transform 	: uppercase;

		@media screen and (min-width: $bp__events-half) {
			@include margcols( 5 );
		}
	}

	.entry-title {
		text-align 	: center;

		@media screen and (min-width: $bp__events-half) {
			@include margcols( 5, 3 );
		}

		a {
			color 				: $color__text-happenings-title;
			text-decoration 	: none;

			&:hover {
				font-weight: bold;
			}
		}
	}

	.post-arrows {
		color: $color__text-happenings;
		display: none;

		@media screen and (min-width: $bp__events-half) {
			@include margcols( 5 );
		}
	}
}

.home-facebook {
	padding: 1em;


}