@mixin homedividers() {
	position: relative;
	padding: 1em;

	&:before {
		width 			: 70%;
		border-bottom 	: 2px dotted $color__border-home-dividers;
		content 		: "";
		position 		: absolute;
		left			: 15%;
		bottom 			: 0;
		height 			: 1px;
	}

	@media screen and (min-width: $bp__menu-button+1) {
		padding: 2em;
	}
}

@mixin homemenus {
	margin: 2em auto 0;
	max-width: 650px;

	ul {
		list-style 	: none;
		margin 		: 0;
		text-align 	: center;
	}

	li {
		@include evencols( 3 );
	}
}