$light		: #fff;
$med		: #818285;
$dark		: #020202;
$navy 		: #005273;
$green 		: #84c447;
$gray 		: #e7e7e8;

// Backgrounds
$color__background-body		: $light;
$color__background-screen	: #f1f1f1;
$color__background-hr		: #ccc;
$color__background-button	: #e6e6e6;
$color__background-pre		: #eee;
$color__background-ins		: #fff9c0;
$color__bg-header 			: $gray;
$color__bg-submit-button 	: $navy;

// Text colors
$color__text-screen				: #21759b;
$color__text-input				: $navy;
$color__text-input-focus		: $navy;
$color__link					: $navy;
$color__link-visited			: $navy;
$color__link-hover				: $navy;
$color__text-main				: #404040;
$color__text-social 			: $light;
$color__text-ins 				: black;
$color__text-button 			: rgba(0, 0, 0, .8);
$color__text-footer 			: $med;
$color__text-home-headings 		: $navy;
$color__text-submit-button 		: $light;
$color__text-icon-menu 			: $med;
$color__text-happenings 		: $green;
$color__text-happenings-title 	: $med;
$color__text-event-title 		: $gray;
$color__text-event-title-hover 	: $med;
$color__text-event-hover-title 	: $light;
$color__text-event-hover-link 	: $green;

// Border colors
$color__border-button		: #ccc #ccc #bbb;
$color__border-button-hover	: #ccc #bbb #aaa;
$color__border-button-focus	: #aaa #bbb #bbb;
$color__border-input		: #ccc;
$color__border-abbr			: #666;
$color__border-home-dividers: $med;
$color__post-containers 	: $med;

// Shadow colors
$color__shadow-button-text 			: rgba(255, 255, 255, 0.8);
$color__shadow-button-inner 		: rgba(255, 255, 255, 0.5);
$color__shadow-button-inner-2 		: rgba(0, 0, 0, 0.05);
$color__shadow-button-inner-hover 	: rgba(255, 255, 255, 0.8);
$color__shadow-button-inner-2-hover : rgba(0, 0, 0, 0.02);
$color__shadow-button-inner-focus 	: rgba(255, 255, 255, 0.5);
$color__shadow-button-inner-2-focus : rgba(0, 0, 0, 0.15);

// Menu colors
$color__bg-menu-button			: $navy;
$color__bg-menu-item-mobile		: $med;
$color__bg-menu-item			: $navy;
$color__bg-menu-current			: $navy;
$color__text-menu-mobile		: $light;
$color__text-menu-mobile-hover 	: $dark;
$color__text-menu				: $navy;
$color__text-menu-hover			: $light;
$color__text-menu-button		: $light;
$color__text-menu-current		: $light;
$color__text-menu-current-hover	: $green;
$color__text-submenu			: $light;


// Icon colors
$color__svgfill-homeplaces-hover 	: $med;
$color__svgfill-social-hover 		: $green;
$color__svgfill-homelinks-hover 	: $navy;