$size__site-main		: 100%;
$size__site-sidebar		: 350px;

$size__default-bot-marg	: 1.5em;
$size__max-width 		: 1000px;

$bp__phone				: 320px;
$bp__tablet				: 768px;
$bp__laptop				: 1000px;

$bp__menu-button		: 800px;
$bp__events-half 		: 500px;
$bp__slider-caption 	: 600px;
$bp__footer 			: 900px;
$bp__slider-widest 		: 1050px;

$size__svg-caret-right 	: 15px;
$size__slider-overlay-mobile 	: 250px;
$size__slider-overlay 	: 375px;
$size__tourism_logo 	: 150px;