.nav-social {

	.screen-reader-text,
	a {
		@include hidetext();
	}

	.menu-items {
		list-style 	: none;
		margin 		: 0;
		text-align 	: center;
	}

	.menu-item {
		display 	: inline-block;
		position 	: relative;
		margin 		: 0 0.4em;
		line-height : 1.5em;

		svg {
			width: 48px;
		}

		&:hover {
			> a svg path {
				fill: $color__svgfill-social-hover;
			}
		}
	}
}

.nav-homeplaces {
	li:hover > a svg path {
		fill: $color__svgfill-homeplaces-hover;
	}
}

.nav-homelinks {
	li:hover > a svg path {
		fill: $color__svgfill-homelinks-hover;
	}
}