.nav-social {
	margin: 0 auto 0.5em;
	max-width: 350px;

	.screen-reader-text,
	a {
		@include hidetext();
	}

	.menu-items {
		list-style 	: none;
		margin 		: 0;
		text-align 	: center;
	}

	.menu-item {
		line-height : 1.5em;

		@include evencols( 5 );

		svg {
			width: $font__size-social;
			height: $font__size-social;
		}

		&:hover {
			> a svg path {
				fill: $color__svgfill-social-hover;
			}
		}
	}
}