.nav-social {

	.screen-reader-text,
	a {
		@include hidetext();
	}

	.menu-items {
		list-style 	: none;
		margin 		: 0;
		text-align 	: center;
	}

	.menu-item {
		display 	: inline-block;
		position 	: relative;
		margin 		: 0 0.4em;
		line-height : 1.5em;

		svg {
			width: 48px;
		}
	}
}